/* ---------------- GLOBAL FONT: SEGOE UI ---------------- */

body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
}

/* Make sure all text elements use Segoe UI consistently */
p, ul, ol, li, span, div, section, article, .about-content, .about-description {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1.02rem !important;
}

/* Optional: tweak list spacing for Segoe UI */
ul, ol {
  margin-left: 1.25rem;
  padding-left: 0.25rem;
}


/* ---------------- NABBAR COLOR ---------------- */

.navbar-brand,
.navbar-nav .nav-link {
  color:rgb(25, 24, 24) !important;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color:rgb(25, 24, 24) !important;
}

.navbar-nav .nav-link.active {
  color:rgb(25, 24, 24) !important;
  font-weight: 600;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(25, 24, 24)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.quarto-navbar-tools .quarto-color-scheme-toggle, .quarto-navbar-tools .quarto-search-button {
  color: rgb(25, 24, 24) !important;
}

/* ---------------- NAVBAR SIZE ---------------- */

/* Increase site title font size */
.navbar-brand {
  font-size: 1.25rem !important;  /* default ~1rem */
  font-weight: 600;
}

/* Increase nav link size */
.navbar-nav .nav-link {
  font-size: 1.05rem !important;  /* default ~0.9rem */
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

/* Make the color-scheme toggle and search icon larger */
.quarto-navbar-tools .quarto-color-scheme-toggle,
.quarto-navbar-tools .quarto-search-button {
  font-size: 1.3rem !important;  /* default ~1rem */
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Enlarge the hamburger (menu) icon on small screens */
.navbar-toggler {
  padding: 0.6rem !important;
}
.navbar-toggler-icon {
  width: 1.6em !important;
  height: 1.6em !important;
}

/* ---------------- HOME PAGE ---------------- */

/* Adjust the cropping of the About page image */
.about-entity img {
  object-fit: cover;
  object-position: center 10%;   /* move image focus up (default is 50%) */
}


/* Adjust the font */
.about-content {
  font-family: "Segoe UI", Roboto, sans-serif;
}

/* Override Quarto's page-columns grid for desktop */
@media (min-width: 992px) {
  /* Match homepage exactly */
  body.fullcontent:not(.floating):not(.docked) .page-columns,
  /* Plus all other page types */
  #quarto-content .page-columns,
  body .page-columns {
    grid-template-columns: 
      [screen-start] 1.5em 
      [screen-start-inset] 5fr 
      [page-start page-start-inset] 35px 
      [body-start-outset] 35px 
      [body-start] 1.5em 
      [body-content-start] minmax(500px, calc(1200px - 3em)) 
      [body-content-end] 1.5em 
      [body-end] 35px 
      [body-end-outset] minmax(75px, 145px) 
      [page-end-inset] 35px 
      [page-end] 5fr 
      [screen-end-inset] 1.5em [screen-end]
  }
}
